<h2>Please enter the form</h2>
<form [formGroup]="dateprickerForm" (ngSubmit)="addContact()" >
    <div>
        <label for="inputFirstName">First name:</label>
        <input type="text" [(ngModel)]="newContact.firstName" name="firstName" id="inputFirstName" class="form-control" formControlName="voornaam" >
        <div id='foutmelding' *ngIf="dateprickerForm.get('voornaam').invalid &&
        dateprickerForm.get('voornaam').dirty" >Je moet wat invullen!</div>
    </div>
    
    <div><label for="inputSurname">Surname:</label>
        <input type="text" [(ngModel)]="newContact.surname" name="surname" id="inputSurname" class="form-control" formControlName="achternaam">
        <div *ngIf="dateprickerForm.get('achternaam').invalid &&
        dateprickerForm.get('achternaam').dirty">Je moet wat invullen!</div>
    </div>
    <div><label for="inputEmail">E-mail address:</label>
        <input type="text" [(ngModel)]="newContact.email" name="email" id="inputEmail" class="form-control" formControlName="email">
        <div *ngIf="dateprickerForm.get('email').invalid &&
        dateprickerForm.get('email').dirty">Geen goede email!</div>
    </div>

    <button [disabled]="dateprickerForm.invalid" class="btn btn-primary">Add</button>
</form>