<ng-container *ngIf="!contact.edit">
  <td>{{contact | contactName}}</td>
  <td>{{contact.email}}</td>
  <td>
    <button (click)="editContact(contact)">Edit</button>
    <button (click)="deleteContact(contact)" id='deleteButton'>Delete</button>
  </td>
</ng-container>

<ng-container *ngIf="contact.edit">
  <td><input type="text" [(ngModel)]="contact.firstName">
    <input type="text" [(ngModel)]="contact.surname"></td>
  <td><input type="text" [(ngModel)]="contact.email"></td>
  <td>
    <button (click)="saveContact(contact)" *ngIf="contact.edit">Save</button>
  </td>
</ng-container>
